---
layout: archive
title: "Research team"
permalink: /people/
author_profile: true
---

{% include base_path %}

<style>
.person {
  float: left;
}
.desc {
  float: left;
  padding: 10px;
}
</style>

<div class="archive__item-teaser">
	<div class="person"><img src="headshots/MAA.jpg"></div>
	<div class="desc">
	<h2>Melina A. Agosto, Ph.D.</h2>
	Principal investigator<br>
	Email: melina.agosto@dal.ca<br>
	<a href="https://medicine.dal.ca/departments/department-sites/physiology/our-people/our-faculty/melina-agosto.html">Dalhousie profile</a>
	</div>
</div><br><br>

<div class="archive__item-teaser">
	<div class="person"><img src="headshots/nophoto.jpg"></div>
	<div class="desc">
	<h2>Michael L. Miller</h2>
	MD student<br>
	</div>
</div><br><br>

<div class="archive__item-teaser">
	<div class="person"><img src="headshots/nophoto.jpg"></div>
	<div class="desc">
	<h2>Faiyaz A. K. Abid</h2>
	MSc student<br>
	</div>
</div><br><br>

<div class="archive__item-teaser">
	<div class="person"><img src="headshots/nophoto.jpg"></div>
	<div class="desc">
	<h2>Robyn V. McGowan</h2>
	PhD student<br>
	</div>
</div><br><br>

<div class="archive__item-teaser">
	<div class="person"><img src="headshots/nophoto.jpg"></div>
	<div class="desc">
	<h2>Omar W. Abuelatta</h2>
	MSc student<br>
	</div>
</div><br><br>

<div class="archive__item-teaser">
	<div class="person"><img src="headshots/BB.jpg"></div>
	<div class="desc">
	<h2>Brooke Barsness</h2>
	BSc honors student<br>
	</div>
</div><br><br>

<div class="archive__item-teaser">
	<div class="person"><img src="headshots/nophoto.jpg"></div>
	<div class="desc">
	<h2>Nigel Beecham</h2>
	BSc honors student<br>
	</div>
</div><br><br>

<div class="archive__item-teaser">
	<div class="person"><img src="headshots/nophoto.jpg"></div>
	<div class="desc">
	<h2>Liv Oldford</h2>
	BSc honors student<br>
	</div>
</div><br><br>

<div class="archive__item-teaser">
	<div class="person"><img src="headshots/SI.jpg"></div>
	<div class="desc">
	<h2>Salma Ismail</h2>
	MSc student<br>
	</div>
</div><br><br>



<h1> Lab Alumni </h1>


<div class="archive__item-teaser">
	<div class="person"><img src="headshots/nophoto.jpg"></div>
	<div class="desc">
	<h2>Andrew P. Rideout</h2>
	MSc student<br>
	</div>
</div><br><br>

<div class="archive__item-teaser">
	<div class="person"><img src="headshots/JN.jpg"></div>
	<div class="desc">
	<h2>Juliet Noppers</h2>
	BSc experiential learning student<br>
	</div>
</div><br><br>

<div class="archive__item-teaser">
	<div class="person"><img src="headshots/JL.jpg"></div>
	<div class="desc">
	<h2>Jaeeun Lee</h2>
	BSc honors student<br>
	</div>
</div><br><br>

<div class="archive__item-teaser">
	<div class="person"><img src="headshots/MP.jpg"></div>
	<div class="desc">
	<h2>Mustansir Pindwarawala</h2>
	BSc honors student<br>
	</div>
</div><br><br>

{% for post in site.people %}
  {% include archive-single.html %}
{% endfor %}

