---
layout: archive
title: "Selected Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">See <a href="{{site.author.googlescholar}}">Google Scholar</a> for the complete list.</div>
{% endif %}

{% include base_path %}
<br>
Rideout AP, Abuelatta OW, Agosto MA. 2026. The extracellular domain of mGluR6 regulates targeting to the conventional secretion pathway. Molecular and Cellular Neuroscience 136, 104068.
&nbsp<a href="https://www.sciencedirect.com/science/article/pii/S1044743125000788">Full text</a>
<br><br>
Lee J, McGowan RV, Agosto MA. 2025. Trans-synaptic interaction with mGluR6 contributes to ELFN1 presynaptic enrichment in rod photoreceptors. Journal of Neuroscience 45, e0785252025.
&nbsp<a href="https://www.jneurosci.org/content/45/43/e0785252025.long">Full text</a>
<br><br>
Lin PH, Kang EYC, Makrides N, Lee W, Tseng YJ, Wu PL, Peregrin J, Sherman E, Wang JHH, Swayne TC, Li TD, Agosto MA, Sparrow JR, Zhang X, Tsang SH, Wang NK. 2025. Novel Grm6 variant in a non-b-wave mouse model: phenotype characterization and gene therapy. Investigative Ophthalmology & Visual Science 66, 20.
&nbsp<a href="https://iovs.arvojournals.org/article.aspx?articleid=2810799">Full text</a>
<br><br>
Moye AR, Robichaux MA, Agosto MA, Moulin AP, Wensel TG. 2025. Sub-ciliary localization of CEP290 and effects of its loss in mouse photoreceptors during development. Journal of Cell Science 138, jcs263869.
&nbsp<a href="https://journals.biologists.com/jcs/article/138/20/jcs263869/369052/Sub-ciliary-localization-of-CEP290-and-effects-of">Full text</a>
<br><br>
He F, Nichols RM, Agosto MA, Wensel TG. 2025. Roles of class III phosphatidylinositol-3-kinase, Vps34, in phagocytosis, autophagy and endocytosis in retinal pigmented epithelium. iScience 28, 112371.
&nbsp<a href="https://www.cell.com/iscience/fulltext/S2589-0042(25)00632-7">Full text</a>
<br><br>
Pindwarawala M, Abid FAK, Lee J, Miller ML, Noppers JS, Rideout AP, Agosto MA. 2024. Defective glycosylation and ELFN1 binding of mGluR6 congenital stationary night blindness mutants. Life Science Alliance 8, e202403118.
&nbsp<a href="https://www.life-science-alliance.org/content/8/3/e202403118">Full text</a>
<br><br>
Miller ML, Pindwarawala M, Agosto MA. 2024. Complex N-glycosylation of mGluR6 is required for trans-synaptic interaction with ELFN adhesion proteins. The Journal of Biological Chemistry 300, 107119.
&nbsp<a href="https://www.jbc.org/article/S0021-9258(24)01614-4/fulltext">Full text</a>
<br><br>
Haggerty KN, Eshelman SC, Sexton LA, Frimpong E, Rogers LM, Agosto MA, Robichaux MA. 2024. Super-resolution mapping in rod photoreceptors identifies rhodopsin trafficking through the inner segment plasma membrane as an essential subcellular pathway. PLoS Biology 22, e3002467.
&nbsp<a href="https://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.3002467">Full text</a>
<br><br>
Zhang Z, Moye AR, He F, Chen M, Agosto MA, Wensel TG. 2024. Centriole and transition zone structures in photoreceptor cilia revealed by cryo-electron tomography. Life Science Alliance 7, e202302409.
&nbsp<a href="https://www.life-science-alliance.org/content/7/3/e202302409">Full text</a>
<br><br>
Konecki DM, Hamrick S, Wang C, Agosto MA, Wensel TG, Lichtarge O. 2023. CovET: A covariation-evolutionary trace method that identifies protein structure-function modules. The Journal of Biological Chemistry 299, 104896. 
&nbsp<a href="https://www.jbc.org/article/S0021-9258(23)01924-5/fulltext">Full text</a>
<br><br>
Huh E, Agosto MA, Wensel TG, Lichtarge O. 2023. Co-evolutionary signals in metabotropic glutamate receptors capture residue contacts and long-range functional interactions. The Journal of Biological Chemistry 299, 103030.
&nbsp<a href="https://www.jbc.org/article/S0021-9258(23)00162-X/fulltext">Full text</a>
<br><br>
Huh E, Gallion J, Agosto MA, Wright SJ, Wensel TG, Lichtarge O. 2021. Recurrent high-impact mutations at cognate structural positions in Class A GPCRs expressed in tumors. Proceedings of the National Academy of Sciences USA 118, e2113373118. 
&nbsp<a href="https://www.pnas.org/doi/10.1073/pnas.2113373118">Full text</a>
<br><br>
Agosto MA*, Adeosun AAR, Kumar N, Wensel TG. 2021. The mGluR6 ligand-binding domain, but not the C-terminal domain, is required for synaptic localization in retinal ON-bipolar cells. The Journal of Biological Chemistry 297, 101418. *Corresponding author.
&nbsp<a href="https://www.jbc.org/article/S0021-9258(21)01227-8/fulltext">Full text</a>
<br><br>
Agosto MA*, Wensel TG. LRRTM4 is a member of the trans-synaptic complex between rod photoreceptors and ON bipolar cells. 2021. Journal of Comparative Neurology 529, 221–233. *Corresponding author.
&nbsp<a href="https://onlinelibrary.wiley.com/doi/10.1002/cne.24944">Full text</a>
<br><br>
He F, Nichols RM, Kailasam L, Wensel TG, Agosto MA. 2019. Critical role for phosphatidylinositol-3 kinase Vps34/PIK3C3 in ON-bipolar cells. Investigative Ophthalmology & Visual Science 60, 2861-2874.
&nbsp<a href="https://iovs.arvojournals.org/article.aspx?articleid=2737599">Full text</a>
<br><br>
Agosto MA*, Anastassov IA, Robichaux MA, Wensel TG. 2018. A large endoplasmic reticulum-resident pool of TRPM1 in retinal ON bipolar cells. eNeuro 5, ENEURO.0143-18.2018. *Corresponding author.
&nbsp<a href="https://www.eneuro.org/content/5/3/ENEURO.0143-18.2018.long">Full text</a>
<br><br>
Agosto MA*, Anastassov IA, Wensel TG. 2018. Differential epitope masking reveals synapse-specific complexes of TRPM1. Visual Neuroscience 35, E001. *Corresponding author.
&nbsp<a href="https://www.cambridge.org/core/journals/visual-neuroscience/article/differential-epitope-masking-reveals-synapsespecific-complexes-of-trpm1/B05ACB1AA9DBC4E9D2778CFC251925F5">Full text</a>

<!-- New style rendering if publication categories are defined -->
<!--{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}-->




